/*

Nothing defined here. The Hugo project that uses this theme can override Bootstrap by adding a file to:

assets/scss/_styles_project.scss

*/

.privacy-link {
  color: #fff;
  text-decoration: underline;

  &:hover {
    color: #fff;
    text-decoration: underline;
    opacity: 0.8;
  }
}

.dr-last-modified-text {
  font-size: 12px;
}

/* Tabed Highlight */

#body .nav-tabs {
  position: unset;
  width: unset;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-pane {
  padding: 3px 0px;
}

.tab-pane {
  padding: 3px 0px;
}

.tab-content > .active {
  display: block;
}

.nav-tabs {
  color: #0f0f0f;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-tabs > li {
  color: #0f0f0f;
  float: left;
}

.nav-tabs > li > a {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 10px 0px 10px;
  line-height: 1;
}

.code-tabs {
  margin: 10px 0px 0px 00px;
}

.nav-tabs > li.active > a,
.nav-tabs > li > a:hover {
  color: #000 !important;
  background: transparent;
}

.alert-warning {
  border-color: #f7941e;
}

.alert-info {
  border-color: #0c3455;
}

.alert-success {
  border-color: #8dc63f;
}

.td-sidebar-nav__section-title {
  font-weight: unset;
}

.section-index h5 {
  a {
    color: #ef4123;
    text-decoration: underline;
  }
}

.td-content {
  a {
    font-style: italic;
    text-decoration: underline;
  }
}

// Horusec

body {
  font-size: 15px;
  color: #242a31;
}

.td-sidebar-nav a.active {
  color: rgb(213, 59, 25);
}

.td-sidebar-nav .td-sidebar-link__page {
  color: rgb(59, 69, 78);
}

.td-sidebar-nav__section-title a {
  color: rgb(102, 111, 119);
}

.td-sidebar-nav .td-sidebar-link__page,
.td-sidebar-nav__section-title a {
  font-weight: 600;
}

.td-content .lead {
  color: rgb(116, 129, 141);
}

.td-content strong {
  color: #3b454e;
}

.td-content a {
  font-style: normal;
  color: rgb(213, 59, 25);
  text-decoration: none;

  strong {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

.td-toc #TableOfContents a {
  &:hover {
    color: rgb(213, 59, 25);
  }
}

.td-content > blockquote {
  border-color: rgba(213, 59, 25, 0.8);
}

.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link {
  font-weight: bold;
}

/* Release shortcodes */

.release-note-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;

  &--type {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

    min-width: 66px;
    display: table;
    padding: 5px;
    border-radius: 4px;
  }

  &--type-feature {
    background-color: #8dc63f;
  }

  &--type-fix {
    background-color: #ef4123;
  }
  
  &--type-chore {
    background-color: #f7941e;
  }
  
  &--type-docs {
    background-color: #ccc;
  }

  &--repository, &--date {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
  }

  &--date {
    color: #969696;
  }
}